:root {
    --azul: #1996cb;
    --verm: #ff4b4b;
    --bran: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
}

body {
    background: #131313;
    -webkit-font-smoothing: antialiased;
}

a {
    display: flex;
    color: var(--bran);
    font-weight: 700;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu, sans-serif;
    color: var(--azul);
}

/* 
Box Model 
Todos os elementos html recebem o formato de caixa, por padrão
inline: ocupa espaço do conteúdo
block: ocupa toda a linha da página
*/