
@media (max-width: 900px) {
    #page-home {
        background-position-x: 150vw;
    }
    #page-home .content {
        align-items: center;
        text-align: center;
    }
    #page-home header a {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
    }
    #page-home .content header a span {
        display: none;
    }
    #page-home main {
        align-items: center;
    }
    #page-home main h1 {
        font-size: 38px;
    }
    #page-results .cards {
        grid-template-columns: 1fr;
    }
    #page-results .cards img {
        grid-template-columns: 1fr;
        height: 200px;
    }
    form .field-group {
        flex-direction: column;
    }
    form .field-group .field + .field {
        margin-left: 0;
    }
    .items-grid {
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
}

@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 200px;
    }
}