#page-new-point {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-new-point header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

#page-new-point header a {
    color: var(--bran);
    font-weight: bold;
    display: flex;
    align-items: center;
}

#page-new-point header a span {
    background-image: url(../assets/arrow-left.svg);
    display: flex;
    width: 23px;
    height: 23px;
    margin-right: 16px;
}

form {
    background-color: #090909;
    padding: 64px;
    border-radius: 15px;
    margin: 80px auto;
    max-width: 730px;
}

form h1 {
    font-size: 36px;
}

form fieldset {
    margin-top: 64px;
    border: 0;
}

form fieldset legend {
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

form fieldset legend h2 {
    font-size: 24px;
}

form fieldset legend span {
    font-size: 14px;
    color: var(--bran);
}

form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    flex: 1;
}

form .field-group {
    display: flex;
}

form input,
form select {
    background-color: #131313;
    border: 0;
    padding: 10px 24px;
    font-size: 16px;
    border-radius: 10px;
    color: var(--bran);
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form select:disabled {
    color: #444;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
    color: var(--bran);
}

form .field-group .field + .field {
    margin-left: 24px;
}

form button {
    width: 260px;
    height: 56px;
    background-color: var(--verm);
    border-radius: 25px 0 25px 25px;
    color: var(--bran);
    font-weight: bold;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    border: 0;
    margin-top: 40px;
    transition: background-color 400ms;
    cursor: pointer;
}

form button:hover {
    background-color: #cc3e3e;
}

form .field-group .field .upload {
    position: relative;
    overflow: hidden;
    display: flex;
}

form .field-group .field .upload .botao {
    background-color: #131313;
    border: 0;
    font-size: 16px;
    border-radius: 10px;
    color: var(--bran);
    margin-top: 7px;
    width: 100%;
}

form .field-group .field .upload input {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.items-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.items-grid li {
    background-color: #131313;
    list-style: none;
    border: 2px solid #131313;
    height: 180px;
    border-radius: 10px;
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}

.items-grid li span {
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--bran);
    margin-top: 12px;
}

.items-grid li.selected {
    background-color: rgba(255, 75, 75, 0.2);
    border: 2px solid #ff4b4b;
}

.items-grid li img,
.items-grid li span {
    pointer-events: none;
}